.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 25px;
	border: none;
	border-radius: 8px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	text-align: center;
	color: $color-white;
	white-space: nowrap;
	transition: color $transition-default, background-color $transition-default;

	&--blue {
		background-color: $color-blue;
	}

	&--blue-light {
		background-color: $color-blue-light;
	}

	&--red {
		background-color: $color-red;
	}

	&__icon {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		margin-right: 5px;
	}
}
