//- USAGE
//- +breadcrumbs(['Main page', 'News'], 'News detail')
//- +breadcrumbs(['Main page'])

mixin breadcrumbs(items, last)
	// Breadcrumbs
	.breadcrumbs.container&attributes(attributes)
		ul.breadcrumbs__list
			each item in items
				li.breadcrumbs__item
					//- if breadcrumb is single
					if (items.length === 0)
						span.breadcrumbs__link= item
					else
						a(href="#" title=item).breadcrumbs__link= item
						.breadcrumbs__devider

			if last
				li.breadcrumbs__item
					span.breadcrumbs__current= last
			else
