extends pug/base

prepend vars
	//-

append vars
	- title = "Изменение пароля"

block content
	+breadcrumbs(['Главная'], 'Ваши данные')

	// Section form
	section.section-auth.container.container--content
		.section-auth__header
			h1.heading1.section-auth__title Изменение пароля

		.panel.section-auth__panel
			.panel__row
				// Form group
				.form-group.form-group--password
					label.form-group__label Действующий пароль
					.form-group__input-box
						input.form-group__input(type="password", value="3242351342334")
						button.form-group__show-btn(aria-label="Показать пароль")
							+svg("eye")(class="form-group__show-btn-icon")
					p.form-group__note для подтверждения изменений
			.panel__row
				// Form group
				.form-group.form-group--password
					label.form-group__label Новый пароль
					.form-group__input-box
						input.form-group__input(type="password", value="3242351342334")
						button.form-group__show-btn(aria-label="Показать пароль")
							+svg("eye")(class="form-group__show-btn-icon")
					p.form-group__note не менее 6 символов
			.panel__row
				// Form group
				.form-group.form-group--password
					label.form-group__label Подтверждение нового пароля
					.form-group__input-box
						input.form-group__input(type="password", value="3242351342334")
						button.form-group__show-btn(aria-label="Показать пароль")
							+svg("eye")(class="form-group__show-btn-icon")

		button.button.button--blue.section-auth__action
			+svg("save")(class="button__icon")
			| Сохранить

