extends pug/base

prepend vars
	//-

append vars
	- title = "О системе"

block content
	+breadcrumbs(['Главная'], 'Подготовка новой жалобы')
	// Section rules
	section.section-rules.container.container--content
		h1.heading1.section-rules__title Регистрация нового пользователя
		.panel.section-rules__panel
			h2.section-rules__panel-title Правила пользования системой подачи жалоб на действия судей и работников аппаратов арбитражных судов
			ol
				li Настоящие Правила устанавливают порядок пользования
				li Система предназначена для подачи в арбитражные суды исключительно жалоб на действия судей и работников аппаратов арбитражных судов. Подача иных заявлений, ходатайств, жалоб посредством системы невозможна.
				li Система создана в целях повышения доступности правосудия, предназначена для увеличения скорости обработки жалоб на действия судей и работников аппаратов арбитражных судов (далее – жалоб) в арбитражных судах и Высшем Арбитражном Суде Российской Федерации за счет использования современных телекоммуникационных технологий.
				li Системой вправе пользоваться лица, зарегистрировавшиеся в качестве пользователей веб-сервиса системы (далее – пользователи). Использование данной системы является бесплатным и общедоступным.
				li Для начала работы с системой пользователям необходимо пройти процедуру регистрации и подтверждения данных. При регистрации пользователи обязаны в соответствующих полях предоставить достоверную, полную и актуальную информацию.
				li При необходимости система будет направлять пользователям по электронной почте сообщения, касающиеся использования системы. Однако система никогда не будет запрашивать в таких письмах подтверждения сведений, содержащих личную информацию или сведения, связанные с доступом к учетной записи пользователя.
				li Перед началом пользования системой пользователи обязаны прочесть и принять настоящие правила. В случае полного или частичного несогласия с настоящими правилами пользователь должен прекратить процесс своей регистрации в системе. Факт регистрации лица в качестве пользователя системы является подтверждением согласия пользователя соблюдать настоящие правила.
				li Факт отправки жалобы в арбитражный суд посредством системы является подтверждением согласия пользователя соблюдать действующую редакцию настоящих Правил.
				li Регистрируясь в системе, заполняя карточку жалобы, а также прикрепляя к карточке жалобы дополнительные материалы, пользователь вносит в систему свои персональные данные или персональные данные представляемого лица.
					p В целях обеспечения рассмотрения жалобы пользователя или представляемого лица персональные данные обрабатываются Системой подачи жалоб на действия судей и работников аппаратов арбитражных судов, системами документооборота арбитражных судов.
					p Факт регистрации лица в качестве пользователя системы, а также факт отправки жалобы в арбитражный суд посредством системы являются подтверждением согласия пользователя, а также подтверждением представляего пользователем лица на обработку их персональных данных системой и системами документооборота арбитражных судов.
					p Если пользователь подает жалобу от имени представляемого лица, то при регистрации жалобы в системе пользователь обязан приложить к жалобе копию доверенности, оформленной в соответствии с действующим законодательством. В доверенности, выданной представляемым лицом, должно быть специально оговорено согласие на обработку персональных данных Системой подачи жалоб на действия судей и работников аппаратов арбитражных судов и системами документооборота арбитражных судов.
				li Отправка в электронном виде жалобы в арбитражный суд не требует направления оригинала жалобы в арбитражный суд нарочным или почтой.
				li Жалоба рассматривается арбитражным судом в течение 33 календарных дней со дня отправки жалобы в арбитражный суд посредством настоящей системы. О продлении срока рассмотрения сообщается заявителю посредством системы.
				li Нормативное регулирование порядка рассмотрения жалоб:
					ul
						li Конституция Российской Федерации;
						li Федеральный закон «О порядке рассмотрения обращений граждан Российской Федерации» от 02.05.2006, №59-ФЗ;
						li Инструкция по делопроизводству в ВАС РФ, утвержденной Приказом ВАС РФ от 01.07.2003 №41;
						li Инструкция по делопроизводству в арбитражных судах Российской Федерации (первой, апелляционной и кассационной инстанциях), утвержденная Приказом ВАС РФ от 25.03.2004 №27;
						li Положение о порядке рассмотрения предложений, заявлений и жалоб на действия судей и работников аппаратов арбитражных судов Российской Федерации, утвержденное приказом ВАС РФ от 05.12.2007 №160;
						li Инструкции (положения) о порядке рассмотрения предложений, заявлений и жалоб на действия судей и работников аппаратов арбитражных судов Российской Федерации, утвержденные соответствующими арбитражными судами.
				li Пользователи вправе:
					ul
						li Подавать в электронном виде в арбитражные суды жалобы на действия судей и работников аппарата арбитражных судов посредством системы;
						li Подавать жалобы от своего имени, а также от имени представляемых лиц при наличии надлежащим образом оформленной доверенности;
						li Прекратить пользоваться системой, удалив свою учетную запись.
				li Пользователи обязаны:
					ul
						li Использовать систему добросовестно и разумно, не нарушать права и законные интересы иных лиц;
						li Не допускать действий, осуществляемых исключительно с намерением причинить вред другому лицу, а также злоупотребление правом в иных формах;
						li Обеспечить конфиденциальность своих учетных записей (логина и пароля) доступа к системе, в том числе регулярно менять пароли;
						li Принимать надлежащие меры по воспрепятствованию недобросовестного использования своих ресурсов, в том числе доступа иных лиц к системе, а также извещать службу поддержки системы при обнаружении случаев такого использования;
						li Обеспечить антивирусную защиту и защиту от иных вредоносных программ компьютеров, с которых осуществляется обращение к системе;
						li Использовать для доступа к системе исключительно свою учетную запись (логин и пароль). Запрещается пользоваться чужими учетными записями, кроме случаев, когда лицо наделено соответствующими полномочиями для подачи жалобы в арбитражный суд.
				li Ответственность пользователей:
					ul
						li В случае совершения правонарушений Пользователи несут ответственность, предусмотренную законодательством, в том числе Уголовным кодексом РФ;
						li В случае, если в обращении содержатся заведомо ложные сведения, расходы, понесенные в связи с рассмотрением обращения, могут быть взысканы с подателя жалобы;
						li В случае нарушения Пользователями настоящих Правил доступ Пользователей к системе может быть прекращен без предупреждения.
				li Доступ пользователей к системе прекращается автоматически в следующих случаях:
					ul
						li Если пользователь не использует систему (доступ к системе) больше трех месяцев;
						li Если пользователь не подтвердил регистрацию в качестве Пользователя системы;
						li Если Пользователь удалил свою учетную запись.
				li Веб-сервис системы предоставляется по принципу «как есть». Информация о работе системы содержится в инструкциях по работе с режимами и в Описании системы.
		.section-rules__action-row
			button.button.button--red.section-rules__action
				+svg("clear-circle")(class="button__icon")
				|Не принимаю
			button.button.button--blue.section-rules__action
				+svg("check-circle")(class="button__icon")
				| Принимаю
