$color-bg: #F3F6FC;
$color-text: #404750;
$color-white: #fff;
$color-blue: #0B45C3;
$color-blue-light: #3968CE;
$color-cloud: #919FBA;
$color-storm: #34415A;
$color-black-light: #31363C;
$color-stroke-blue: #E4EBFD;
$color-red: #FF2E00;

